@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}
/*distribuye contenido parejamente*/
.header {
    display: flex;
    justify-content: space-between
}
/*esconde un href al inicio*/
.src-only {
    display: none;
}
/*esconde icono X*/
.hide-mobile {
    display: none;
}
/*estelizas los parrafos de toda la pagina*/
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}
/*ajusta el tamaño del logo*/
.logo {
    width: 90px;
    margin: 1em;
}
/*estiliza opciones del boton menu*/
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
/*aumenta el tamaño del icono X en las options*/
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
/*estiliza imagen*/
.big-hero img {
    width: 150px;
}
/*estiliza el titulo del big hero*/
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}
/*estiliza el texto del big-hero*/
.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/
/*esta parte ajusta las posiciones y tamaños de los logos github, twitter*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center

}
/*esto estiliza los vinculos de los logos*/
.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

/*cambia fondo a los articles*/
.green-area {
    background-color: #0AC693; 
}

/*ajusta los tamaños de los articuos*/
.post {
    padding: 1em;
    margin-bottom: -2px;
}
/*estiliza los titulos*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}
/*deja la lista sin estilo*/
.post ul {
    list-style: none;
}
/*setea tamaños a los objetos de la lista*/
.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}
/*configura el tamaño y posicionamento de los articulos*/
.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}
/*estilo y tamaño a las imagenes de los articulos*/
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
/*estilo y tamaño a los titulos de los articulos*/
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*estilo y tamaño a los parrafos de los articulos*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */
/* seteando margenes al inicio del about */
.about{
    margin-top: 2em;
}
/* estilizando el titulo */
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}
/* seteando tamaño a la imagen del about */
.bio-info img{
   width: 40%;
   height: 40%;
}
/* estilizando el parrafo del about */
.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}
/* configurando flex al formulario para hacerlo ir vertical */
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}
/* seteando margenes al contact */
.contact * + * {
    margin-top: 1.5em;
}
/* seteando direccion al formulario */
.contact-form {
    display: flex;
    flex-direction: column;
}
/* configurando las cajitas de inputs en el formulario */
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }


/* estilizando el boton submit */
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}
/* cambia/añade imagen a las etiquetas con la clase */
.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}
/* decorando footer */
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}
/* reposicionando iconos en el footer */
footer .social-links {
    margin: 0;
}
/* estilizando el menu de la pagina */
.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}
/* configurando el menu en alineacion desde el inicio */
.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
/* estilizando las opciones del menu */
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}
/* estilizando los items del nav */
.menu li a {
    color: white;
    text-decoration: none;
    
}

/*personalizando estilo para telefonos*/
@media only screen and (min-width: 400px) {

    /*TODO: FALTA CSS hecho ;)*/
    .container {
        width: 100%;
        margin: 0 auto;
    }


    /*repositioning*/
    .logo{
        margin-left: 30px;
        margin-top: 20px;
    }
    /*repositioning and resizing*/
    .fa-bars{
        font-size: 25px;
        margin-right: 10px;
    }
    /*modificando tamaño del icono + moverlo*/
    .fa-github{
        font-size: 75px;
        padding-left: 13px;
        padding-right: 13px;
    }
    /*modificando tamaño del icono + moverlo*/
    .fa-twitter{
        font-size: 75px;
        padding-left: 13px;
        padding-right: 13px;
    }
    /*padding para separar los articulos*/
    .social-links{
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 75px;   
    }
    /*dando margen a los articulos porque en el ejemplo parece no usar el 100% de ancho*/
    body > section > div > ul:nth-child(2){
        /*background-color: red !important;*/
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    /*cambiando tamaño titulos*/
    body > section > div > ul > li > article > h3{
        font-size: 1.5em !important;
        margin-top: 10px !important;
    }
    /*cambiando tamaño del texto*/
    body > section > div > ul > li > article > p{
        font-size: 1.25em !important;
        /*background-color: red !important;*/
    }
    /*estilizando titulo*/
    body > section > div > h2:nth-last-child(3){
        /*background-color: red !important;*/
        font-size: 1.5em !important;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        font-weight: bold;
    }
    /*reposicionando imagen y acercando al tamaño del ejemplo*/
    body > section > div > img{
        margin-top: 25px;
        width: 135px;
        height: 135px;
    }
    /*reposicionando imagen y acercando al tamaño del ejemplo*/
    body > section > div > div > img{
        width: 150px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*estilizando texto debajo de la imagen*/
    body > section > div > div > p{
        padding-left: 10% !important;
        padding-right: 10% !important;
        text-justify: none !important;
        letter-spacing: 0px !important;
    }
    /*asemejando los label al ejemplo cambiando texto*/
    body > section > div > div > form > label{
        /*background-color:red !important;*/
        font-size: 1.5em !important;
        font-weight: bold;
    }
    /*estilizando los inputs*/
    body > section > div > div > form > input{
        /*background-color:red !important;*/
        font-size: 1.5em !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
        margin-top: 12px !important;
    }
    /*el ultimo input tenia cierto margenes que manipular*/
    body > section > div > div > form > input:last-child{
        font-size: 1.5em !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
        margin-top: 20px !important;
        margin-bottom: 50px !important;
    }
    /*asemejando altura de la caja al ejemplo*/
    body > section > div > div > form > textarea{
        /*background-color:red !important;*/
        font-size: 1.5em !important;
        margin-top: 12px !important;
        height: 180px !important;
    }
    /*reposicionando los iconos*/
    body > footer > ul{
        /*background-color:red !important;*/
        padding: 0px !important;
    }
    /*cambiando tamaño al texto*/
    body > footer > p{
        /*background-color:red !important;*/
        font-size: 0.8em !important;
    }
    /*dando margenes al div con .contact*/
    .contact{
        padding-left: 10%;
        padding-right: 10%;
    }
    /*asemejando el titulo al ejemplo*/
    body > section > div > h2:nth-child(2){
        font-size: 2.65em;
    }
    /*asemejando texto de profesor... debajo del nombre aldana*/
    body > section > div > p{
        font-size: 14px !important;
        padding-top: 12px;
        padding-bottom:5px;
    }
    /*asemejando titulo al ejemplo*/
    body > section > div > h2:nth-last-child(2){
        font-size: 1.5em !important;
    }
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
    /* reconfigurando flex */
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* reajustando maximos y minimos de los items del article */
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }
    /* alterando tamaño del logo y reposicionando */
    .logo {
        width: 150px;
        margin: 1.5em;
    }
    /* activa flecha hacia abajo en pantalla grande */
    .show-desktop {
        display: block;
    }
    /* esconde elementos con clase .hide-desktop */
    .hide-desktop {
        display: none;
    }
    /* añadiendo flex y estilizando menu */
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
        color:red !important;
    }
    /* reposicionando iconos */
    .social-links{
        padding-bottom: 5px;
    }
    /* estilizando flecha hacia abajo */
    .fa-arrow-circle-down{
        font-size: 75px;
        padding-bottom: 75px;
    }
    /* haciendo el menu mas vistoso */
    .menu{
        font-size: 2em;
        margin-top:0px;
    }
    /*editando el padding para que dos articles queden en una fila en tablet mode*/
    .post ul{
        padding:0.5em !important;
    }


    /*TODO: FALTA CSS pero poco :)*/
} 
/* personalizando para pantallas netbooks/laptops +/- 720p */
@media only screen and (min-width: 1024px) {

       /*TODO: FALTA CSS */
    /* utilizando todo el tamaño del viewport */
    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;
    }
    /* estilizando el icono github + reposicionamiento */
    .fa-github{
        font-size: 100px;
        padding-left: 25px;
        padding-right: 25px;
    }
    /* estilizando el icono twitter + reposicionamiento */
    .fa-twitter{
        font-size: 100px;
        padding-left: 25px;
        padding-right: 25px;
    }
    /* estilizando el icono de la flecha + reposicionamiento */
    .fa-arrow-circle-down{
        font-size: 100px;
    }

    /*dando menos margen a los articulos porque se ve mejor asi en tablet/*/
    body > section > div > ul:nth-child(2){
        /*background-color: red !important;*/
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
    }

    /*agregando hover al menu*/
    nav>.show-desktop :hover>a{
        opacity: 50%;
        color: red;
    }


        /*aqui jugue con el box-sizing y los width de los articles para hacerlos ver mejor*/
    .post ul{
        display: flex !important;
        flex-direction: row !important;
        flex-shrink: initial !important;
        flex-wrap: nowrap !important;
        box-sizing: border-box;
    }

    .post ul li{
        min-width: 250px;
        height: 400px;  
        margin: 10px !important;
    }

    .post ul li article{
        height: 100%;  
    }

    /*aqui convertimos el about en grid y posicionamos las cosas a la par*/
    .about .container{
        display: grid;
        grid-template-rows: 10em 1fr;
        grid-template-columns: 1fr 1fr;

    }
    .about .container h2{
        grid-column: 1/ span 2;
        grid-row: 1;
    }
    .about .container .bio-info{
        grid-column: 1;
        grid-row: 2;
    }

    .about .container .contact{
        grid-column: 2;
        grid-row: 2;
    }

}
/* vista para pantallas full hd */
@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    /* se agrega width para que la pagina no se estire mucho en pantallas grandes */
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;
    }

    .menu{
        font-size: 1.25em !important;
    }
}

